<!doctype html>
<html lang="eng" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>login</title>
</head>
<style>
    .b1 {
    background: green; /* Зелёный цвет фона */
    }
    .b2 {
    margin: 20px; /* Значение отступов */
    background: #ffffff;
</style>
<style>
   .b1 {
    background: green; /* Синий цвет фона */
    color: white; /* Белые буквы */
    font-size: 9pt; /* Размер шрифта в пунктах */
   }
  </style>
<body>


<form action="" method="post" name="login">

<div><fieldset>
    <pre><input type="text" placeholder="nickname" required maxlength="13" autocomplete="on"></pre>
    <pre><input type="text" placeholder="password" required minlength="8" autocomplete="on"> </pre>
    <p><input type="button" class= "b1" value="Sign in"></p>
    <p><input type="button" value="Sign up" color=""></p>
</fieldset></div>

</form>
</body>
</html>